// Bootstrap body background
$body-bg: white;

// Bootstrap body foreground
$body-color: black;

// Bootstrap theme colors
$theme-colors: (
  'primary': #020D74,
  'secondary': #8A2BE2
);


@import '~bootstrap';
@import '~bootstrap-vue';


#app {
  color: unset;
}